[Desktop Entry]
Name=Valhalla Tracker
Comment=Sequence MIDI like never before
GenericName=MIDI sequencer
Encoding=UTF-8
Version=1.0
Type=Application
Categories=Application;Audio;;Midi;X-Jack;AudioVideoEditing;
Keywords=audio;sound;jackd;sequencer;midi;tracker
Terminal=false
StartupNotify=false
Icon=vht
Exec=vht
